---
---

<div class="cookie-banner" id="cookieBanner">
  <div class="cookie-content">
    <p>We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.</p>
    <div class="cookie-buttons">
      <button class="btn btn-accent" id="acceptCookies">Accept</button>
      <button class="btn btn-outline" id="declineCookies">Decline</button>
    </div>
  </div>
</div>
